{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    {% comment %} Bootstrap {% endcomment %}
    <link rel="stylesheet" href="{% static "styles/bootstrap.min.css" %}" />
    <script src="{% static "js/bootstrap.bundle.min.js" %}" defer></script>

    {% comment %} Ion Icons {% endcomment %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <style>
        {% block internal_css %}{% endblock internal_css %}
    </style>
</head>
<body class="position-relative">
    {% include "navbar.html" %}
    {% if messages %}
        {% for message in messages %}
            <div id="message-container" class="container text-center alert alert-{% if message.tags == "error" %}danger {% else %}{{message.tags}}{% endif %} position-absolute" style="left: 0; right: 0; margin-left: auto; margin-right: auto; width: 500px;" role="alert">
                <ion-icon name="close-circle-outline" class="position-absolute" style="left: 470px; top: 10px; cursor: pointer;" id="close-btn"></ion-icon>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="{% static "js/main.js" %}"></script>    
</body>
</html>