{% load static %}

<nav class="navbar navbar-expand-lg bg-dark p-4 z-index">
    <a class="navbar-brand text-capitalize py-2 px-3 rounded-2" href="{% url "index" %}">
        <img src="{% static 'images/icon.svg' %}" alt="" height="40" />
    </a>
    <button
        class="navbar-toggler text-white bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto w-75 justify-content-center flex-column flex-lg-row hstack gap-md-3">
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover nav-link mt-4 mt-lg-0" href="{% url "index" %}">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover" href="{% url "books" %}">Livros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover" href="#">Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover" href="#">Regras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover" href="#">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light link-opacity-50-hover mb-4 mb-lg-0" href="#">Contactos</a>
            </li>
        </ul>
        <!-- Login and Sign Up Buttons -->
        {% if request.user.is_authenticated %}
        <div class="navbar-nav justify-content-center align-items-center gap-3">
            <a class="nav-item nav-link text-white text-center mb-lg-0 d-none d-lg-inline-block" href="{% url "account" %}">
                <div class="rounded-circle" style="width: 64px; height: 64px">
                    {% with reader=request.user.contact %}
                    {% if reader %}
                        <img src="{{reader.profile_image.url}}" alt="Profile Image" style="width: 100%; height: 100%;" class="rounded-circle border border-primary" >
                    {% endif %}
                    {% endwith %}
                </div>
            </a>
            <a href="{% url "account" %}" class="btn btn-primary btn d-block d-lg-none w-100">A minha Conta</a>
            <a href="{% url "logout" %}" class="btn btn-primary btn d-inline w-100 h-50">
                Terminar Sessão
            </a>
        </div>
        {% else %}
        <div class="navbar-nav justify-content-center gap-3">
            <a href="{% url "login" %}" class="btn btn-primary btn mb-lg-0">Iniciar Sessão</a>
            <a href="{% url "register" %}" class="btn btn-primary btn">Criar Conta</a>
        </div>
        {% endif %}
    </div>
</nav>
