{% extends "main.html" %}

{% block internal_css %}
.errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    background-color: #faa2a2;
    color: #000000;
    font-weight: bold;
}

.errors input {
    border-color: #680000;
    background-color: #fde3e3;
}

.errors label {
    color: #680000;
}
{% endblock internal_css %}

{% block content %}
    <main class="container mt-5 border shadow-lg rounded-4 p-5 mb-5">
        <div class="container-fluid d-flex align-items-center justify-content-center mb-3">
            <ion-icon name="add-circle-outline" class="me-4" size="large"></ion-icon>
            <h1>Adicionar Livro</h1>
        </div>
        <div class="container-sm w-75 border p-5 rounded-3">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="title" class="form-label fw-bold">{{field.label}}</label>
                        {{field}}
                        {{field.errors}}
                        {% if field.label == "Autor(es)" or field.label == "Editora" or field.label == "Géneros" or field.label == "Idioma"%}
                        <a href="#" class="btn btn-info btn-sm text-white fw-bold mt-3">Adicionar {{field.label}}</a>
                        {% endif %}
                    </div>              
                {% endfor %}
                <input type="submit" value="Registar" class="btn btn-primary btn-lg">
            </form>
        </div>
    </main>
{% endblock content %}